body {
    font-family: sans-serif;
    background-color: white;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.container{
    font-family :sans-serif;
    padding-left:30px;
    padding-top:20px;
    padding-right:30px;
    max-width:800px;
}
